<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <div class="container my-5 col-5">
        <h1>Edit {{one_user.first_name}}</h1>
        <form action="/user_update/{{one_user.id}}" method="POST">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" name="fname" class="form-control" value="{{ one_user.first_name }}">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" class="form-control" value="{{ one_user.last_name }}">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" value="{{ one_user.email }}">
                <button type="submit" class="btn btn-secondary my-3">Submit</button>
                <a href="/users" class="btn btn-secondary">Home</a>
            </div>
        </form>
    </div>
</body>
</html>